body {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  color: #fff;
  background-image: url(images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
}

::placeholder {
  font-family: "Poppins", sans-serif;
}

.landing-page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  margin: 7% auto 5% auto;
}

.title-container {
  flex: 1 1 320px;
  margin-right: 50px;
}

.title-container h1 {
  font-size: 3.125em;
  line-height: 1.15;
}

.signup-container {
  flex: 1 1 325px;
}

.try-button {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.93em;
  border: none;
  border-radius: 9px;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0px 8px rgba(0, 0, 0, 0.18);
  background-color: hsl(248, 32%, 49%);
}

.try-button span {
  font-weight: 400;
  opacity: 0.9;
}

.signup-form {
  background-color: white;
  padding: 30px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px rgba(0, 0, 0, 0.15);
}

input {
  border: 1px solid rgba(0, 0, 0, 0.548);
  border-radius: 4px;
  padding: 17px 25px;
  font-size: 0.87em;
  font-weight: 600;
}

input:focus {
  outline: none;
  border-color: #165aa3;
  border-width: 1.6px;
}

input:invalid {
  outline: none;
  border-color: hsl(0, 100%, 74%);
  border-width: 1.6px;
}
/* textarea:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
} */

input[type="submit"] {
  background-color: hsl(154, 59%, 51%);
  color: white;
  text-transform: uppercase;
  border-width: 0 0 4px 0;
  border-color: hsl(154, 55%, 48%);
  box-shadow: 0px 5px;
}

input[type="submit"]:hover {
  background-color: hsla(154, 59%, 51%, 0.774);
  cursor: pointer;
}

.terms {
  color: rgba(0, 0, 0, 0.267);
  font-size: 0.625em;
  font-weight: 600;
  margin: 15px auto 0 auto;
}
.accent {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}

/* RESPONSIVE MOBILE LAYOUT */

@media screen and (max-width: 1009px) {
  .title-container {
    text-align: center;
  }
  .title-container h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 930px) {
  .title-container {
    margin-right: 0;
  }

  .title-container h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 376px) {
  .landing-page {
    margin: 25% auto 5% auto;
    width: 90%;
  }
  .title-container {
    margin-bottom: 40px;
  }

  .title-container h1 {
    font-size: 27px;
  }
}
